---
---

<div id="flex flex-row">
    <div class="flex flex-col w-50">
        <label for="subs">Subtitles</label>
        <textarea class="border"
                  id="subs"></textarea>
    </div>
    <div class="flex flex-col w-50">
        <label for="time">Time shift</label>
        <input id="time"
               class="border"
               type="text"/>
    </div>
</div>

<style>
</style>

<script>
    // Handle file drop
    const subs  = document.getElementById("subs") as HTMLTextAreaElement;
    if (subs) {
        subs.addEventListener('drop', (event) => {
            event.preventDefault();
            if (event.dataTransfer && event.dataTransfer.files.length > 0) {
                const file = event.dataTransfer.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    if (e.target) {
                        subs.value = e.target.result + '';
                    }
                };
                reader.readAsText(file);
            }
        });
    }

    // Handle time shift
    function timeShift() {

    }
</script>
